.banner {
  width: 100%;
}

.postTop {
  margin-top: 5rem;

  h1 {
    font-size: 3rem;
    color: var(--gray-50);
    font-weight: 700;
  }

  > p {
    font-style: italic;
    font-size: 0.875rem;
    margin-top: 1.125rem;
    color: var(--gray-300);
  }
}

.postInfoList {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;

  li {
    display: flex;
    align-items: center;

    time, p {
      margin-left: 0.5rem;
      font-size: 0.875rem;
      color: var(--gray-300);
    }

    & + li {
      margin-left: 1.5rem;
    }
  }
}

.postSection {
  margin-top: 4rem;

  h1 {
    font-size: 2.25rem;
    line-height: 3.125rem;
    font-weight: 700;
  }

  main {
    margin-top: 3rem;

    p + p{
      margin-top: 1.5625rem;
    }

    li {
      margin-left: 2rem;
      margin-top: 1.5625rem;
    }
  }
}

.postFooter {
  margin-top: 3.75rem;
  border-top: 1px solid #d7d7d7;
  padding-top: 3rem;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.postPrev {
  p {
    font-size: 1.125rem;
    letter-spacing: -0.5px;
  }

  a {
    color: var(--pink-700);
    font-weight: 600;
    margin-top: 0.5rem;
    letter-spacing: -0.5px;
  }

  &.right {
    text-align: right;
  }
}
